.card {
    width: 100%;
    height: 200px;
    background-color: #454545;
    border-color: #454545;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card:hover {
    opacity: 0.83;
}

.card-image {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 3px solid #454545;
    overflow: hidden;
    border-radius: 8px;
}

/* Scaled and translated to match art in actual cards */
.card-image img {
    transform: translateY(15px);
    object-fit: cover;
}

@font-face {
    font-family: 'Belwe';
    src: url('/fonts/Belwe.ttf') format('truetype');
}
.card-name {
    color: #f3f3f3;
    font-family: 'Belwe';
    font-size: 22px;
    display: flex;
    overflow: hidden; 
    text-align: center;
    display: block;
    margin-bottom: 7px;
}