/* Category header stylings */
.expansion-image {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.expansion-image img {
    width: 100%;
    height: 100%;
}

.class-image {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.class-image img {
    width: 70%;
    height: 70%;
}

@font-face {
    font-family: 'Belwe';
    src: url('fonts/Belwe.ttf');
}
.category-header-text {
    color: #ffffff;
    font-family: 'Belwe';
    font-size: 19px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    text-align: center;
    word-wrap: break-word;
    white-space: normal;
    display: block;
}