body {
    margin: 0;
    background-color: #202020;
}

/* Everything above the grid (logo, links, etc) */
.title-bar {
    width: 100%;
    height: 65px;
    background-color: #333;
    display: flex;
    gap: 10px;
    align-items: center;
    position: fixed;
    top: 0;
}

.logo {
    margin-left: 7.5px; /* Margin is 0.5(title-bar height - logo img height) */
}

.logo img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    display: block;
}

@font-face {
    font-family: 'Belwe';
    src: url('/fonts/Belwe.ttf') format('truetype');
}
.grid-title {
    color: #ffffff;
    font-family: 'Belwe';
    font-size: 32px;
    display: flex;
    overflow: hidden; 
    text-align: center;
    display: block;
}


/* Actual puzzle */
.grid-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100vw;
    margin-top: 65px; 
}

.standard-grid {
    display: grid;
    grid-template-columns: repeat(4, 110px);
    grid-template-rows: auto;
    gap: 2px;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.grid-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

/* Scaled and translated to match art in actual cards */
.overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for guesses left has to change for mobile */
.guesses-left-container {
    color: #fefefe;
    font-family: 'Belwe';
    font-size: 24px;
    overflow: hidden; 
    text-align: center;
    margin-top: -20px;
    margin-left: 110px;
}

/* Styling for card(back)s in grid */
.grid-cell {
    width: 120px;
    height: 155px;
}

.card-back,
.done-card-back {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 155px;
    overflow: hidden;
}

.card-back {
    cursor: pointer;
    /* For flip animation */
    transform: rotateY(0deg);
    backface-visibility: hidden;
}
.done-card-back {
    cursor: not-allowed;
}

.card-back img,
.done-card-back img {
    width: 98%;
    height: 98%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.card-back:hover img{
    width: 110%;
    height: 110%; 
}

.card-front {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 155px;
    cursor: not-allowed;
    /* For flip animation */
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.card-front img {
    width: 118%;
    height: 118%;
    object-fit: cover;
    object-position: center;
    display: block;
}

/* For flip animation */
.card-not-flipped {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card-flipped {
    position: relative;
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
    transition: transform 0.6s;
}


/* Media queries for mobile ports */
@media (max-width: 750px) {
    .title-bar {
        height: 55px;
    }
    .grid-container {
        margin-top: 55px;
    }
    .grid-title {
        font-size: 28px;
    }
    .logo {
        margin-left: 3.5px;
    }
    .logo img {
        width: 48px;
        height: 48px;
    }
}

@media (max-width: 480px) {
    .title-bar {
        height: 52px;
    }
    .grid-container {
        margin-top: 52px;
    }
    .grid-title {
        font-size: 27px;
    }
    .logo {
        margin-left: 3.5px;
    }
    .logo img {
        width: 45px;
        height: 45px;
    }

    .standard-grid {
        grid-template-columns: repeat(4, 95px);
        gap: 5px;
    }

    .grid-header {
        height: 70px;
    }

    .grid-cell,
    .card-back,
    .done-card-back,
    .card-front {
        width: 105px;
        height: 135px;
    }

    .guesses-left-container {
        font-size: 21px;
        margin-top: -25px;
        margin-left: 95px;
    }
}

@media (max-width: 400px) {
    .title-bar {
        height: 47px;
    }
    .grid-container {
        margin-top: 47px;
    }
    .grid-title {
        font-size: 25px;
    }
    .logo {
        margin-left: 3px;
    }
    .logo img {
        width: 41px;
        height: 41px;
    }

    .standard-grid {
        grid-template-columns: repeat(4, 80px);
        gap: 4px;
    }

    .grid-header {
        height: 65px;
    }

    .grid-cell,
    .card-back,
    .done-card-back,
    .card-front {
        width: 95px;
        height: 120px;
    }

    .guesses-left-container {
        font-size: 19px;
        margin-top: -25px;
        margin-left: 80px;
    }
}

@media (max-width: 360px) {
    .title-bar {
        height: 44px;
    }
    .grid-container {
        margin-top: 44px;
    }
    .grid-title {
        font-size: 22px;
    }
    .logo {
        margin-left: 2.5px;
    }
    .logo img {
        width: 39px;
        height: 39px;
    }

    .standard-grid {
        grid-template-columns: repeat(4, 70px);
        gap: 4px;
    }

    .grid-header {
        height: 60px;
    }

    .grid-cell,
    .card-back,
    .done-card-back,
    .card-front {
        width: 80px;
        height: 105px;
    }

    .guesses-left-container {
        font-size: 17px;
        margin-top: -25px;
        margin-left: 70px;
    }
}

@media (max-width: 320px) {
    .title-bar {
        height: 42px;
    }
    .grid-container {
        margin-top: 42px;
    }
    .grid-title {
        font-size: 21px;
    }
    .logo {
        margin-left: 2.5px;
    }
    .logo img {
        width: 37px;
        height: 37px;
    }

    .standard-grid {
        grid-template-columns: repeat(4, 65px);
        gap: 3px;
    }

    .grid-header {
        height: 55px;
    }

    .grid-cell,
    .card-back,
    .done-card-back,
    .card-front {
        width: 70px;
        height: 90px;
    }

    .guesses-left-container {
        font-size: 15px;
        margin-top: -23px;
        margin-left: 68px;
    }
}