.standard {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px; /* change based on media size */
    height: 70%;
    background-color: #1e1e1e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px;
    overflow: hidden;
    z-index: 999;
    display: flex;
    flex-direction: column;
}

.search-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 10px;
}

.search-input {
    color: #f3f3f3;
    font-size: 16px;

    width: 100%;
    padding: 10px;
    background-color: #2e2e2e;
    border-color: #2e2e2e;

    border-radius: 6px;
    box-sizing: border-box;
}

.close-button {
    background: none;
    border: none;

    color: #888888;
    font-size: 24px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.close-button:hover {
    color: #656565;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}

.card-grid::-webkit-scrollbar {
    width: 8px;
}

.card-grid::-webkit-scrollbar-thumb {
    background: #565656;
    border-radius: 4px;
}

.card-grid::-webkit-scrollbar-track {
    background: #1e1e1e;
}


/* Media queries for mobile ports */
@media (max-width: 750px) {
    .standard {
        width: 80%;
    }
}
@media (max-width: 360px) {
    .standard {
        width: 70%;
    }
}